@model MamidiDating.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgot Password Page</h2>
<text id="forgotpassword">Please enter your email address below.</text>
<hr />

@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(fp => fp.EmailAddress, new { @class = "col-md-2 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(fp => fp.EmailAddress, new { placeholder = "Email Address", @class = "form-control" })
            @Html.ValidationMessageFor(fp => fp.EmailAddress, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Send Password" />
        </div>
    </div>
}

