/*Home Page*/

/*Registration Page*/

.registration {
    color: red;
    font-weight: bold;
}

/*Login Page*/

#login {
    color: red;
    font-weight: bold;
}

/*Forgot Password Page*/

#forgotpassword {
    color: red;
    font-weight: bold;
}

/*Contact Page*/

#contact {
    color: red;
    font-weight: bold;
}
/*Thanks Page*/

#thankstext {
    text-align: center;
}

#thanks {
    display: block;
    margin: auto;
    border-radius: 10px;
}

.pixabay {
    text-align: center;
}

/*Message Page*/

#message {
    color: red;
    font-weight: bold;

}

/*Message Sent Page*/

#messagesenttext {
    text-align:center;
}

#messagesent {
    display: block;
    margin: auto;
    border-radius: 10px;

}

/*validation helpers*/
.field-validation-error {
    color: red;
    font-weight: bold;
}
/*Basic Search Page*/
#basic {
    color: red;
    font-weight: bold;
}


/*Advanced Search Page*/
#advanced {
    color: red;
    font-weight: bold;
}
